*{
	margin: 0px;
	padding: 0px;
}
.col {
	background-color: #ffffff; 
	height: auto; 
	display:block;
	width: 50%;
	float:left;
}
header ul li {
	display:inline; 
	}
nav {
	padding: 20px 5px; 
	background-color: #472606; 
	word-spacing: 30px;
	margin-top: -200px;
	}
a {
	color: #ffffff; 
	text-decoration: none;
	}
ul {
	text-align: center;
}
footer {
	text-align:center; 
	clear:both;
	color:#ffffff;
	padding: 20px;
	background-color: #472606;
}
h2 {
	text-align: center;
	font-family: helvetica;
	text-decoration: none;
	margin-top: 20px;
}
p {
	text-align: center; 
	padding: 20px; 
	font-family: georgia;
}
section {
	margin: 0 auto; 
	width: 100%; 
	max-width: 1024px;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.logo {
	position:relative;
	top:-250px;
}