*{
	margin: 0px;
	padding: 0px;
}
html, body {
	overflow-x: hidden;
}
.col {
	height: auto; 
	display:block;
	width: 50%;
	float:left;
}
header {
	position:relative;
	background:url(../images/beans.jpg) no-repeat center top;
	display:block;
	width:100%;
	height:280px;

}
header ul li {
	display:inline; 
	}

nav {
	padding: 10px 0; 
	background-color: #472606; 
	position:absolute;
	bottom: 25px;
	width: 50%;
	}
nav:before, nav:after {
	content: "";
	position: absolute;
	background: #472606;
	top: 0;
	bottom: 0;
	width: 9999;
}
nav:before {
	right: 100%;
}
nav:after {
	left: 100%;
}

nav ul li {
	margin-left:  30px;
	}
a {
	color: #ffffff; 
	text-decoration: none;
	}
ul {
	text-align: center;
}
h2 {
	text-align: center;
	font-family: helvetica;
	text-decoration: none;
	margin-top: 20px;
}
p {
	text-align: center; 
	padding: 20px; 
	font-family: georgia;
}
section {
	margin: 0 auto; 
	width: 100%; 
	max-width: 1024px;
}
img.logo {
	display: block;
	margin: 0 auto;
	padding-top: 10px
}
.container {
	max-width: 1024px;
	display:block;
	height: 100%;
	width:100%;
	position:relative;
	margin:auto;
}
footer .container {
	text-align:center; 
	clear:both;
	color:#ffffff;
	padding: 20px 0;
	background-color: #472606;
}